@import url(//fonts.googleapis.com/css?family=Lato:700);

* {
	z-index:0;
}
body {
	margin:0;
	font-family:'Lato', sans-serif;
	text-align:center;
	color: #fff;
	background-color:#FF5258; //#563D7C; Dev
	padding-top: 130px;
}

.welcome {
	width: 300px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -100px;
}

.login {
	width: 500px;
	height: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -210px;
	margin-top: -150px;
}

.form-signup, .form-signin {
    width: 300px;
    margin: 0 auto;
}

.login input.signIn {
	width:100px;
}

.login input, .createAccount {
	width:300px;
}

.createAccount {
	width:410px;
	float:left;
}


a, a:visited {
	text-decoration:none;
	color:#fff;
}

h1 {
	font-size: 32px;
	margin: 16px 0 0 0;
}

.sidebar {
	margin-left:-2px;
}

.sidebar ul {
 	margin-right:40px;
}

.sidebar ul li {
	list-style: none;
	padding-bottom:10px;
}

.sidebar ul a {
	background: #428BCA;
	color: #FFF;
	display: block;
	margin-bottom: 10px;
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
}

.sidebar ul a:hover {
	background: #3276B1;
	text-decoration: none;
}

.sidebar ul input {
	margin-bottom:20 !important;
}

.active a {
	background-color:#F0AD4E !important;
}

.cap-overlay {
	width: 100%; 
	color: #FFF;
	background: rgba(0, 0, 0, 0.76);
	left: 0;
	padding: 12px;
	line-height: 1.4em;
	font-size: 14px;
}

.main {
	padding-top:70px;
}

.row {
	padding-bottom:100px;
}

.scotch-panel-wrapper
{
	height:100%;
}

.jumbotron {
	color:  #333;
	background-color:#FFF;
}

.jumbotron h1 {
	padding-bottom:35px;
}

.links_list {
	border-radius: 5px;
	margin: 20px 0px;
	padding:10px;
}

.issues_list, .dl-horizontal {
	background-color: #428BCA;
	margin: 20px 0px;
	padding:10px;
	color:#fff;
}

#ddlGenre {
	border-radius:4px;
}

.textupper {
	text-transform: uppercase;
}

.has-error {
	padding:5px;
	color:#F0AD4E;
}

.modal {
	color: black !important;
}

.search, .row {
	height:600px;
}

.search .col-md-2 {
	width:20%;
}

.search-header {
	padding:20px;
	color: #FF5258;
	background-color: #fff;
}

.margin5 {
	margin-top:5px;
}

.dash-welcome {
	padding-top: 40px;
	padding-bottom: 60px;
	background-color:#fff;
	color: #428BCA;
}

.dash-profile {
	padding-top:25px;
	padding-bottom:5px;
	background-color: #428BCA;
}

.read-list h3, .reading-list h3{
	text-decoration: underline;
}

.read-list ul, .reading-list ul {
	text-transform: capitalize;
	padding-left:0px;
	list-style: none;
}

th {
	text-align: center;
}

.admin-dash-welcome {
	padding-top: 55px;
	padding-bottom: 74px;
	background-color:#fff;
	color: #428BCA;
	margin-bottom:20px;
}

.admin-dash-profile {
	background-color: #428BCA;
	margin-bottom:20px;
}

.bottom {
	position: fixed;
	bottom: 0px;
}